<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WPF_ME3Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <WPF_ME3Explorer.Properties.Settings>
            <setting name="ME1BIOGame" serializeAs="String">
                <value />
            </setting>
            <setting name="ME2BIOGame" serializeAs="String">
                <value />
            </setting>
            <setting name="ME3BIOGame" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ME1CookedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME2CookedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME3CookedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME1DLCPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME2DLCPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME3DLCPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME1ExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME2ExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME3ExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="NumThreads" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TPFToolsGameVersion" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TexplorerGameVersion" serializeAs="String">
                <value>3</value>
            </setting>
        </WPF_ME3Explorer.Properties.Settings>
    </userSettings>
</configuration>
